<div class="content">
<table width="100%">
	<tbody>
		<tr>
			<td class="first" valign="top" width="50%">
			<ul>
				<li ><strong>С какого возраста можно осуществлять&nbsp;прыжки с парашютом?</strong></li>
				<br  />
				<li><em><span >Самостоятельные прыжки с круглой техникой может выполнять лицо, достигшее 14 лет, но с разрешением родителей в письменном виде.</span></em></li>
				<br  />
				<br  />
				<li >Чем отличается прыжок с десантным (круглым) парашютом от прыжка в тандеме с инструктором?</li>
				<br  />
				<li><span >Прыжок в тандеме с инструктором осущестляется, как правило, с высоты 4000 м., используется парашют типа &quot;крыло&quot;, время свободного падения до раскрытия основного парашюта - около одной минуты, парашют раскрывает инструктор, который несет ответственность за точное и мягкое приземление. Медицинских ограниченый для тандем-пассажира значительно меньше, что позволяет прыгать людям с нарушениями опорно-двигательного аппарата, плохим зрением, слухом и т.д. Тандем-прыжок стоит дороже - 4800 рублей. Прыжок с десантным парашютом осуществляется с 800-900 м, с круглым парашютом, открытие либо принудительное, либо самостоятельное после падения под стабилизирующим парашютом - 3-5 секунд, ответственность за приземление лежит на парашютисте.</span></li>
				<br  />
				<br  />
				<li >При какой погоде можно прыгать?</li>
				<br  />
				<li><b >Прыжки с парашютом</b><span>&nbsp;осуществляются при погоде без осадков, отсутствии сильного ветра и низкой облачности. Решение о проведении прыжков принимает руководство аэродрома.</span></li>
				<br  />
				<br  />
				<li >В какое время года можно прыгать?</li>
				<br  />
				<li><span >Круглый год за исключением периодов распутицы.</span></li>
				<br  />
				<br  />
				<li >Можно ли употреблять спиртное перед&nbsp;<b>прыжком с парашютом?</b></li>
				<br  />
				<li><span >Категорически запрещается употреблять спиртное в день прыжка, а также злоупотреблять им накануне. Запрещается также прыгать после употребления наркотиков и приема препаратов, снижающих скорость реакции.</span></li>
				<br  />
				<br  />
				<li >Правда ли, что с утра перед первым прыжком ничего нельзя есть?</li>
				<br  />
				<li><span >Неправда. Питайтесь как обычно.</span></li>
				<br  />
				<br  />
				<li >Что будет, если не откроется основной парашют?</li>
				<br  />
				<li><span >Вероятность этого ничтожно мала, поскольку прыжки осуществляются со сверхнадежной десантной техникой. Тем не менее, на такой случай, всегда есть запасной парашют.</span></li>
				<br  />
				<br  />
				<li >Могут ли оборваться стропы или порваться купол?</li>
				<br  />
				<li><span >Очень, очень маловероятно. Десантный парашют спроектирован таким образом, что даже если на нем порвется каждая вторая стропа, с ним можно безопасно приземлится. Что касается порывов ткани, то сам купол представляет собой не цельный кусок материала, а сшит из множества квадратов-секций, каждая из которых окружена силовой лентой. Поэтому даже если в одной секции случится порыв, он не сможет распространится далее этой секции и парашютист приземлится совершенно безопасно.</span></li>
				<br  />
				<br  />
				<li >Какая скорость снижения под парашютом?</li>
				<br  />
				<li><span >до 5 метров в секунду</span></li>
				<br  />
				<br  />
				<li >Есть ли риск получить травму при приземлении?</li>
				<br  />
				<li><span >Есть, если отнестись к приземлению невнимательно. На подготовке приземлению уделяется особое внимание.&nbsp;</span></li>
				<br  />
				<br  />
				<li >А парашют не слишком тяжелый для хрупкой девушки?</li>
				<br  />
				<li><span >Если только для очень хрупкой. :-). Суммарный вес основоного и запасного парашютов - около 20 кг. Однако не стоит пугаться этой цифры. Подавляющее большинство девушек успешно переносят процесс облачения в парашютное снаряжение на земле, а в после раскрытия его вес уже не чувствуется.</span></li>
				<br  />
				<br  />
				<li >Я видел, как приземляются под двумя парашютами. Это нормально, безопасно?</li>
				<br  />
				<li><span >Это безопасно, но ненормально :-). Потому как после открытия основного парашюта, запасной парашют нужно не забыть отключить (расчековать). Как это сделать - научат на обучении, это просто.</span></li>
				<br  />
				<br  />
				<li >Возможно ли приземлиться на дерево, ЛЭП, воду, постройки?</li>
				<br  />
				<li><span >Такое случается редко, и тем не менее бывает. Поэтому вы будете отрабатывать действия в таких случаях на предварительной подготовке..</span></li>
				<br  />
				<br  />
				<li >А если я боюсь высоты, что делать?</li>
				<br  />
				<li><span >Страх высоты естественен для любого человека. Тем не менее, он преодолим, и миллионы совершенных прыжков с парашютом - тому подтверждение. Если есть сильное желание, то страх отступит. О том, как обуздать свой страх, хорошо написано здесь:</span></li>
				<br  />
				<br  />
				<li >У меня со зрением не очень хорошо. Как быть?</li>
				<br  />
				<li><span >Все зависит от того, насколько &quot;не очень хорошо&quot;. Многие парашютисты, которые носят очки, но зрение не слишком плохое, прыгают без очков. У кого зрение похуже, те прыгают с контактными линзами или в обычных очках, которые можно привязать резинкой либо одеть на них специальные пластиковые парашютные очки, которые можно попросить в аэроклубе. Если в отношении зрения мучают сомнения, то этот вопрос лучше задать инструктору перед прыжком.</span></li>
				<br  />
				<br  />
				<li >У меня была травма ноги/позвоночника/таза</li>
				<br  />
				<li><span >В таком случае необходимо проконсультироваться у своего лечащего врача на предмет разрешения прыгать. Каждый случай - индивидуален. Например, после перелома ноги не рекомендуется прыгать минимум год (в зависимости от сложности перелома).</span></li>
				<br  />
				<br  />
				<li >У меня проблемы с сердцем/давлением</li>
				<br  />
				<li><span >Нужно получить разрешение на прыжок у лечащего врача. Кроме этого, аэродромный доктор перед прыжком проверяет давление и имеет право отстранить, если оно будет не в норме.</span></li>
				<br  />
				<br  />
				<li >Какие еще проблемы со здоровьем могут помешать прыгнуть?</li>
				<br  />
				<li><span >Прыжки с парашютом не требуют особо продвинутой физической формы парашютиста, и тем не менее - вот список противопоказаний, не претендующий на абсолютную полноту:</span><br />
				<br  />
				<span >&middot;Лицам с не очень острым зрением необходимы контактные линзы или очки с пластиковыми стеклами, которые сзади можно закрепить обычной резинкой. Лицам с сильной близорукостью следует воздержаться от прыжков с парашютом.&nbsp;</span><br />
				<span >&middot;Категорически запрещено прыгать с парашютом лицам, страдающим эпилепсией.&nbsp;</span><br />
				<span >&middot;Запрещено прыгать с парашютом лицам, страдающим психическими заболеваниями.&nbsp;</span><br />
				<span >&middot;Глухота или тугоухость высокой степени, острые и хронические заболевания среднего уха.</span><br />
				<span >&middot;Сахарный диабет - противопоказание к прыжкам с парашютом.</span><br />
				<span >&middot;Если когда-нибудь у тебя была травма ног, костей таза, позвоночника, или есть иные заболевания опорно-двигательного аппарата - проконсультируйся у лечащего врача.</span><br />
				<span >&middot;При сердечно-сосудистых заболеваниях необходимо проконсультироваться с лечащим врачом. К прыжкам с парашютом не допускаются лица с высоким артериальным давлением.&nbsp;</span><br />
				<span >&middot;Не рекомендуется прыгать при простуде и насморке. В этом случае прыжки могут привести к повреждению носовых пазух и барабанных перепонок.</span></li>
				<br  />
				<br  />
				<li >Какие ограничения по возрасту для первого прыжка?</li>
				<br  />
				<li><span >Прыгать с десантным парашютом по своей воле можно с 18 лет; с 14 лет - при письменном согласии родителей. Верхняя возрастная планка ограничена только фактическим состоянием здоровья. Нередки случаи, когда парашютисту-перворазнику - за 60 лет.</span></li>
				<br  />
				<br  />
				<li >Какие ограничения по весу парашютиста для первого прыжка?</li>
				<br  />
				<li><span >Ограничения по весу обусловлены характеристиками десантных парашютов. Так, минимальный вес не должен быть ниже 45 кг, максимальный - не выше 95 кг.</span></li>
				<br  />
				<br  />
				<li >С какой высоты прыгают в первый раз?</li>
				<br  />
			</ul>
			</td>
			<td valign="top" width="50%">
			<ul>
				<li><span >Первый прыжок осуществляется с высоты 800-900 метров.</span></li>
				<br  />
				<br  />
				<li >Нормально ли дышится на такой высоте?</li>
				<br  />
				<li><span >Совершенно нормально.</span></li>
				<br  />
				<br  />
				<li >Можно ли наделать в штаны при первом прыжке?</li>
				<br  />
				<li><span >Навряд ли. Но лучше не пытаться. Для этого есть специально отведенные места на земле. :-)</span></li>
				<br  />
				<br  />
				<li >Можно ли потерять сознание при прыжке?</li>
				<br  />
				<li><span >Очень маловероятно.</span></li>
				<br  />
				<br  />
				<li >Какую одежду брать с собой на прыжок?</li>
				<br  />
				<li><span >Одежда должна закрывать полностью руки и ноги, быть удобной, не стеснять движений. Рекомендуется одевать одежду, которую не жалко испачкать. Прыжковый комбинезон могут выдать в аэроклубе.</span></li>
				<br  />
				<br  />
				<li >Какая должна быть обувь для прыжка?</li>
				<br  />
				<li><span >Выбор обуви очень важен. Лучший выбор - высокие ботинки (типа берцев), которые защищают голеностоп, либо кроссовки на жесткой подошве. Для первого прыжка кеды либо открытая обувь - не годятся.&nbsp;</span></li>
				<br  />
				<br  />
				<li >Кто укладывает парашюты?</li>
				<br  />
				<li><span >Парашюты укладывают специально обученные инструкторы, спортсмены либо укладчики аэроклуба. Процесс укладки контролируется поэтапно, чтобы обеспечить ее максимальную надежность.</span></li>
				<br  />
				<br  />
				<li >Холодно ли наверху?</li>
				<br  />
				<li><span >На высоте 800-900 метров воздух холоднее на 4-5 градусов по сравнению с воздухом у земли. Температура убывает примерно на 7 градусов за 1000 метров.</span></li>
				<br  />
				<br  />
				<li >Какая нагрузка приходится на ноги при приземлении?</li>
				<br  />
				<li><span >Чтобы почувствовать это, нужно прыгнуть с высоты примерно своего роста на землю, держа ноги плотно вместе. При ветреной погоде нагрузка, конечно, выше.</span></li>
				<br  />
				<br  />
				<li >Можно ли взять фотоаппарат или видеокамеру на аэродром?</li>
				<br  />
				<li><span >Конечно. Первый прыжок - яркое событие, запечатлеть не помешает.</span></li>
				<br  />
				<br  />
				<li >Пустят ли прыгать с фото-видеотехникой?</li>
				<br  />
				<li><span >Некоторые проносят с собой фотоаппараты или мобильные телефоны в самолет под одеждой и фотографируют после открытия парашюта. Однако фотоаппарат можно выронить из рук и потерять на всегда. К тому же, фотографирование может отвлечь внимание от самого важного - правильного приземления. Есть воздушные операторы - специально обученные парашютисты, которые занимаются съемкой в воздухе, это требует опыта и подготовки.</span></li>
				<br  />
				<br  />
				<li >Нужно ли привозить какие-либо медицинские справки на аэродром?</li>
				<br  />
				<li><span >Нет.</span></li>
				<br  />
				<br  />
				<li >Вернут ли мне деньги, если я откажусь от прыжка?</li>
				<br  />
				<li><span >Вернут, если отказаться от прыжка до посадки в самолет</span></li>
				<br  />
				<br  />
				<li >Если в самолёте я испугаюсь, будут ли меня выталкивать?</li>
				<br  />
				<li><span >Силой инструктор выталкивать не будет - он может только слегка подтолкнуть, если парашютист уже стоит в дверном проеме и замешкался. До этого момента можно сообщить инструктору о своем отказе от прыжка и приземлиться в самолете. Правда, такие случаи редки.</span></li>
				<br  />
				<br  />
				<li >Можно ли первый раз прыгать с парашютом-крылом?</li>
				<br  />
				<li><span >Только если в тандеме с инструктором. Но этот FAQ - про прыжок с десантным парашютом.</span></li>
				<br  />
				<br  />
				<li >Сколько раз в день можно прыгать?</li>
				<br  />
				<li><span >Для первого прыжка одного раза в день более чем хватает.</span></li>
				<br  />
				<br  />
				<li >Я уже прыгал в вашем аэроклубе, обязательно ли мне проходить еще раз подготовку?</li>
				<br  />
				<li><span >Если инструктаж первого прыжка был пройден в текущем сезоне и полученные знания сохранились, то не обязательно.</span></li>
				<br  />
				<br  />
				<li >Сколько времени длится свободное падение?</li>
				<br  />
				<li><span >При прыжке с десантным парашютом свободного падения как такового нет. При первом прыжке на парашюте Д-1-5у открытие принудительное, а парашюты Д-5 и Д-6 имеют стабилизирующий парашют, который раскрывается сразу после выхода из самолета. Он позволяет спускаться со скоростью 30-35 м/с, чем создается иллюзия свободного падения, он же вводит в действие основной парашют при выдергивании кольца или срабатывании страхующего прибора.</span></li>
				<br  />
				<br  />
				<li >Что такое &quot;стабилизация свободного падения&quot;?</li>
				<br  />
				<li><span >Стабилизация падения осуществляется для того, чтобы парашютист падал не беспорядочно, а ровно - тогда основной парашют, раскрываясь, ни за что не зацепится. После выхода из самолёта вытяжной трос сразу же раскрывает стабилизирующий парашют. Площадь стабилизирующего парашюта - всего 1,5 квадратных метра, этого достаточно, чтобы не дать парашютисту сорваться в беспорядочное падение. 3-5 секунд парашютист падает под стабилизирующим парашютом, затем раскрывается основной парашют.</span></li>
				<br  />
				<br  />
				<li >Что будет, если я не дёрну кольцо парашюта?</li>
				<br  />
				<li><span >Если не дёрнуть кольцо парашюта через 3 секунды после отделения от летательного аппарата, тогда сработает парашютный страхующий прибор, установленный на такое же время - и парашют раскроется сам. Но это не значит, что кольцо парашюта можно не дёргать вовсе.</span></li>
				<br  />
				<br  />
				<li >Сколько я буду снижаться под куполом парашюта?</li>
				<br  />
				<li><span >2-3 минуты, если не подхватит восходящий поток.</span></li>
				<br  />
				<br  />
				<li >Можно ли разговаривать в небе?</li>
				<br  />
				<li><span >Можно даже кричать от удовольствия - в небе такая тишина, что иногда поневоле хочется ее нарушить.</span></li>
				<br  />
				<br  />
				<li >Могут ли быть болевые ощущения при раскрытии парашюта?</li>
				<br  />
				<li><span >При раскрытии парашюта происходит динамический удар - быстрая остановка падения. Многие начинающие парашютисты в эйфории первого прыжка с парашютом даже не чувствуют динамического удара. У десантных парашютов раскрытия весьма мягкие.</span></li>
				<br  />
				<br  />
				<li >За что несет ответственность аэроклуб?</li>
				<br  />
				<li><span >За качественно проведенную подготовку, исправно летающий самолет и надежно раскрывающийся парашют.</span></li>
				<br  />
				<br  />
				<li >За что не несет ответственность аэроклуб?</li>
				<br  />
				<li><span >За непрыжковую погоду и прочие обстоятельства непреодолимой силы, за травмы, за последствия неграмотного поведения парашютиста.</span></li>
				<br  />
				<br  />
				<li >Что такое парашют-крыло?</li>
				<br  />
				<li><span >Парашют-крыло, в отличие от десантного парашюта - прямоугольный или эллипсоидный по форме, по площади значительно меньше его. Имеет горизонтальную скорость и подъемную силу, обладает высокой маневренностью и требует от парашютиста, управляющего им, определенных навыков. Он более требователен при раскрытии и приземлении.</span></li>
				<br  />
				<br  />
				<li >Я хочу прыгать как те крутые ребята, в цветных комбинезонах и с быстрыми парашютами!</li>
				<br  />
				<li><span >Всему свое время. Для того, чтобы научиться прыгать как они, нужно пройти обучение свободному падению и управлению парашютом типа &quot;крыло&quot;.</span><br />
				<br  />
				<br  />
				<span >При создании FAQ использованы материалы отличного белорусского парашютного ресурса DropZone.by</span></li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>
</div>
